# Introduction to Python
Python : created by in the early 1990s Guido van Rossum in Amsterdam.
    "A high-level scripting language that allows for interactivity"

Python is an interpreted language that can be run both in script of in interactive mode.

### Features od Python
- Concise an clear syntax
- Code indentation
- Set of high-level and powerful data types
- Simple, but effective, approach to object-oriented programming
- Modularity

##

### Data types in Python
| Data type   | Complexity | Order | Mutable | Indexed | Heterogeneous |
|-------------|------------|-------|---------|---------|---------------|
| int         | primitive  | -     | yes     | -       | -             |
| float       | primitive  | -     | yes     | -       | -             |
| complex     | primitive  | -     | yes     | -       | -             |
| Boolean     | primitive  | -     | yes     | -       | -             |
| string      | container  | yes   | no      | yes     | no            |
| list        | container  | yes   | yes     | yes     | yes           |
| tuple       | container  | yes   | no      | yes     | yes           |
| set         | container  | no    | yes     | no      | yes           |
| dictionary  | container  | no    | yes     | no      | yes           |

In [7]:
# Types of operators
# sum
print(1 + 2)

# difference
print(2 - 4)

# multiplication
print(3 * 4)

# division
print(4 / 3)

# exponentiation
print(2 ** 4)

# integer division
print(4 // 3)

# remainder of the integer division
print(5 % 3)

3
-2
12
1.3333333333333333
16
1
2

### Mathematical and Character Functions

- **abs(x)**: absolute value of `x`
- **round(x, n)**: `x` rounded to a precision of `n` places
- **pow(x, y)**: `x` raised to power of `y`
- **ord(c)**: ASCII numerical code for character `c`
- **chr(x)**: ASCII string (with a single character) for numerical code `x`

In [11]:
# Mathematical functions

print("abs(-3) :", abs(-3))
print("round(3.4) :", round(3.4))
print("round(3.6) :", round(3.6))
print("pow(2, 4) :", pow(2, 4))
print("int(3.4) :", int(3.4))
print("float(3) :", float(3))

abs(-3) : 3
round(3.4) : 3
round(3.6) : 4
pow(2, 4) : 16
int(3.4) : 3
float(3) : 3.0

In [12]:
# Module math
import math

In [13]:
math.sqrt(16)

4.0

In [14]:
math.log(10)

2.302585092994046

In [15]:
math.log10(10)

1.0

In [16]:
math.log2(10)

3.321928094887362

In [22]:
# Quiz
print(math.log2(128) // 3,"\n",math.log2(128) % 3)

2.0
 1.0

### Assigning values to variables
Operator "=" is used to assign a value to a variable name.

In [23]:
a = 1
b = 2
print(a + b)

3

In [24]:
a = math.log2(16)
b = round(3.6)
print(a / b)

1.0

In [26]:
a = 3
b = float(a)
print("a : ", type(a))
print("b : ", type(b))

a :  <class 'int'>
b :  <class 'float'>

In [31]:
a = 2
b = 2
c = 2
li = [a, b, c]
for i in li:
    print(i)

a = b = c = 3
li = [a, b, c]
for i in li:
    print(i)
    
a, b, c = 1, 2, 3
li = [a, b, c]
for i in li:
    print(i)

2
2
2
3
3
3
1
2
3

In [33]:
# Quiz
a, b = math.log2(128), math.log2(256)
print("a :", a, "/ b :", b)
c = a * b
print("c :", c)

a : 7.0 / b : 8.0
c : 56.0

### Testing two variables equality
== : for a comparison between two variables, testing their equality

Result : Boolean type

In [34]:
a = 1
a == 1

True

In [35]:
a = b = 2
a == b

True

In [36]:
c = 3
a == b

True

In [37]:
a == b == c

False

In [38]:
b == c

False

In [39]:
a == b != c

True

In [41]:
# Quiz
print(2**3 == 8)
print(pow(2,3) == 8)
print(math.pow(2,3) == 8)

True
True
True

In [42]:
# Other operators
"+= equals to x = x + y"
a = 1
a = a + 2
a

3

In [43]:
a = 1
a += 2
a

3

In [44]:
a = 2 
a = a - 1
a

1

In [45]:
a = 2
a -= 1
a

1

In [47]:
a *= 3
a

9

In [48]:
a /= 3
a

3.0

### String
String are sequences of characters, which can be defined by text enclosed by the characters "" or ''

In [49]:
'''This 
is
a
string'''

'This \nis\na\nstring'

In [50]:
"""This 
is
a
string"""

'This \nis\na\nstring'

In [52]:
print('I love "python"')

I love "python"

In [53]:
print("I love 'python'")

I love 'python'

In [54]:
print("I love \"python\" ")

I love "python"

In [55]:
a = "python"
a

'python'

In [56]:
a = '1'
b = '2'
a + b

'12'

In [57]:
print("python" * 3)

pythonpythonpython

In [58]:
'pythonpythonpython'

'pythonpythonpython'

In [59]:
print(len("pythonpythonpython"))

18

In [60]:
a = "I need to study Python"
len(a)

22

In [63]:
# Quiz
q = "Hello, world!"
print(len(q))
if len(q) % 2 == 0:
    print("짝수")
else:
    print("홀수")

13
홀수

In [65]:
# Indexing & splicing
a = "I need to study Python"
print(a[0])
print(a[16])
print(a[-1])
print(a[-22])

I
P
n
I

In [71]:
print(a[16:21])
print(a[16:22])
print(a[16:22:2])
print(a[::-1])
print(a[16:len(a)])
print(a[16:])
print(a[16:-1])
print(a[0:9])
print(a[:9])
print(a[:-13])

prefix = a[:9]
verb = a[10:15]
obj = a[16:]

print(prefix + " " + verb + " " + obj)

Pytho
Python
Pto
nohtyP yduts ot deen I
Python
Python
Pytho
I need to
I need to
I need to
I need to study Python

In [93]:
# Quiz
q = 'DNA nucleotides consist of "ATCG" '
print(len(q))
print(q[27::])
print(q[28:-1])
print(q[::-1][2:6])
print(q[28:-2][::-1])

34
"ATCG"
ATCG"
GCTA
GCTA

In [96]:
a[16:] = "Java"

TypeError: 'str' object does not support item assignment

In [98]:
obj = "Java"
a = prefix + " " + verb + " " + obj
print(a)
print(len(a))

I need to study Java
20

In [100]:
for i in ['Python', 'Java']:
    print('I need to study %s' %i)

I need to study Python
I need to study Java

### Formatting
- %s = string or anything
- %d = integer
- %f = floating=point
- %% = literal '%'

In [102]:
print('I need to study Python%d' %3)
print('I need to study Python%d' %2)
print('I need to study Python%f' %2.7)
print('I need to study Python%s' %2.7)
print('I need to study Python%.1f' %2.7)

I need to study Python3
I need to study Python2
I need to study Python2.700000
I need to study Python2.7
I need to study Python2.7

In [103]:
print("humans share about %s% of DNA with chimpanzees" %99)

TypeError: not enough arguments for format string

In [104]:
print("humans share about %s%% of DNA with chimpanzees" %99)

humans share about 99% of DNA with chimpanzees

In [105]:
print('I need to study Python%.1f' %2.7)
print('I need to study Python%5.1f' %2.7)
print('I need to study Python%2.1f' %2.7)

I need to study Python2.7
I need to study Python  2.7
I need to study Python2.7

In [106]:
lang = "Python"
ver="2.7"
print("I need to study " + lang + ver)
print("I need to study %s%s"  %(lang , ver))

I need to study Python2.7
I need to study Python2.7

In [136]:
# Quiz
""" 
%s, %f, math.pi를 이용하여 아래와 같은 문구가 나오도록 명렬어를 작성해보시오.
"""

print("The ratio of a circle’s circumference to its diameter is called %s, and the value of %s is %.2f" % ('pi', 'pi', math.pi))

The ratio of a circle’s circumference to its diameter is called pi, and the value of pi is 3.14